<div id="wrapper">
  <header id="header">
    <div class="container-fluid">
      <div class="max-container">
        <div class="col-xs-12">
          <div class="row">
            <strong class="logo">
              <%= image_tag "bottle_lives_matter/logo.png", alt: "BottleLivesMatter" %>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main id="main">
    <div class="container-fluid">
      <div class="max-container">
        <div class="col-xs-12">
          <div class="row">
            <div class="text">
              <p>100% re-used bottled water company</p>
              <p style="font-size: 22px;">Pollution killed 7 million people last year. More than ISIS and Mexican cartels. #WeCanEndPollution.</p>
              <p style="font-size: 22px;">Zero Co2 is the mission.</p>
              <a class="be-first" href="#">Be the first to know</a>
              <%= form_for @user, :url => { :action => "create" }, html: {class: "email-form"} do |f| %>
                <%= f.email_field :email, :placeholder => "Enter Email", :class => "form-control", required: true %>
                <input class="btn btn-submit" name="commit" type="submit" value="Step Inside" />
              <% end %>
              <p>Because it's smarter to save a life than to manufacture a life.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>