body {
  min-width: 320px;
  color: #5b5b5b;
  font-family: 'Palanquin', Arial, Helvetica, sans-serif;
  &.home #wrapper {
    background: image-url("bottle_lives_matter/bg-body.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    &:after {
      display: none;
    }
  }
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: image-url("bottle_lives_matter/bg-body-inner.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
  &:after {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: rgba(255, 255, 255, 0.8);
  }
}

.max-container {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  overflow: hidden;
}

.logo {
  display: block;
  max-width: 428px;
  margin: 122px auto 42px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.text {
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  max-width: 711px;
  margin: 0 auto;
  letter-spacing: 3px;
  padding: 0 0 30px;
  &.inner {
    max-width: 931px;
  }
  p {
    text-transform: uppercase;
    margin: 0 0 43px;
    ~ p {
      text-transform: none;
      font-size: 30px;
      line-height: 36px;
    }
  }
  .be-first {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #0095c1;
    margin: 0 0 47px;
    transition: all ease 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
}

.email-form {
  margin: 0 0 92px;
  font-size: 18px;
  text-align: left;
  position: relative;
  &:after {
    position: absolute;
    left: 100%;
    top: 50%;
    content: '';
    margin: -9px 0 0 10px;
    border-style: solid;
    border-width: 9px 22px 9px 0;
    border-color: transparent #0095c1 transparent transparent;
  }
  input {
    &[type="email"] {
      width: 69%;
      display: inline-block;
      vertical-align: top;
      background: #efefef;
      border-radius: 0;
      outline: none;
      color: #a6a6a6;
      height: 71px;
      font-size: 18px;
      padding: 6px 27px;
      letter-spacing: 2px;
    }
    &[type="submit"] {
      background: #0095c1;
      border-radius: 0;
      color: #fff;
      text-transform: uppercase;
      height: 71px;
      margin: 0 0 0 0px;
      width: 29%;
      font-size: 18px;
      letter-spacing: 2px;
    }
  }
}

.thankyou {
  background: #0095c1;
  font-size: 18px;
  line-height: 28px;
  padding: 25px 15px 28px;
  text-align: center;
  color: #fff;
  p {
    margin: 0;
  }
}

.align-left {
  float: left;
  width: 50%;
}

.wrap-area {
  float: right;
  max-width: 1000px;
  border-right: 1px solid #e5e5e5;
}

.video-area {
  background: #addbe8;
  padding: 50px 50px 50px 30px;
  margin: 0 0 50px;
  position: relative;
  &:after {
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    content: '';
    background: #addbe8;
    width: 1000%;
  }
}

.title {
  display: block;
  margin: 0 0 40px;
  font-size: 40px;
  line-height: 42px;
  font-weight: 300;
  color: #3c3d3e;
}

.video-holder {
  overflow: hidden;
  position: relative;
  .btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    background: url(../images/btn-play.png) no-repeat;
    width: 128px;
    height: 128px;
    margin: -64px 0 0 -64px;
    text-indent: -9999px;
    overflow: hidden;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.text-holder {
  overflow: hidden;
}

.align-right {
  float: right;
  width: 50%;
}

.text-holder {
  overflow: hidden;
  padding: 0 20px 50px 30px;
  .text-frame {
    float: left;
    width: 65%;
    p {
      margin: 0 0 20px;
      font-size: 18px;
      line-height: 30px;
    }
  }
  .img-holder {
    float: right;
    max-width: 203px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .ship {
    display: block;
    font-size: 18px;
    line-height: 30px;
  }
  .privacy {
    display: block;
    font-size: 14px;
    a {
      text-decoration: none;
      color: #0095c1;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.frame {
  float: left;
  max-width: 1000px;
  padding: 50px 0 0;
}

.sub-title {
  display: block;
  font-size: 30px;
  line-height: 32px;
  color: #0095c1;
  margin: 0 0 30px;
  span {
    display: block;
  }
}

.mob {
  overflow: hidden;
  .txt {
    padding: 0 30px;
  }
}

.frame .txt {
  padding: 0 30px;
}

.mob .txt p {
  margin: 0 0 40px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px;
}

.frame {
  .txt p {
    margin: 0 0 40px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  .link-holder {
    border: 1px solid #0095c1;
    background: #efefef;
    padding: 19px 45px 25px 25px;
    transition: all ease 0.5s;
    margin: 0 0 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
  }
  .link {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #0095c1;
    transition: all ease 0.5s;
  }
  .link-holder:hover {
    background: #0095c1;
    .link {
      color: #fff;
    }
  }
}

.txt .share {
  padding: 0 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px 10px;
  }
  ul {
    padding: 0;
    li {
      padding: 0 10px 10px;
    }
  }
}

.stats-area {
  background: #e5e5e5;
  padding: 50px 30px 20px;
  position: relative;
  &:after {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 1000%;
    content: '';
    background: #e5e5e5;
  }
  .stats-holder {
    overflow: hidden;
    border-bottom: 1px solid #cecece;
    margin: 0 0 50px;
  }
  .stats-box {
    float: left;
    width: 50%;
    padding-bottom: 50px;
    + .stats-box {
      padding-left: 25px;
    }
  }
}

.stats-box {
  strong {
    display: block;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 30px;
  }
  ul {
    padding: 0;
    li, i, span {
      display: inline-block;
      vertical-align: middle;
    }
    li {
      margin: 0 15px 0 0;
    }
    i {
      margin: 0 5px 0 0;
    }
  }
}

.stats-area p {
  font-size: 18px;
  line-height: 30px;
}

.section {
  text-align: left;
  background: #f2f3f4;
  padding: 30px;
  border: 1px solid #e4e5e5;
  margin: 0 0px 50px 0;
  + .section {
    margin-bottom: 60px;
  }
  .img-holder {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin: 0 28px 0 0;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .txt {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    p {
      color: #333;
      margin: 0 0 25px;
      font-size: 24px;
      line-height: 29px;
      text-transform: none;
    }
    span {
      display: block;
      color: #0095c1;
    }
  }
}

.mejs-container .mejs-controls {
  height: 71px !important;
  background: #333 !important;
  .mejs-time {
    padding-top: 19px !important;
  }
  .mejs-time-rail {
    padding-top: 24px !important;
  }
  .mejs-time {
    padding-top: 28px !important;
  }
  .mejs-button, .mejs-horizontal-volume-slider {
    padding-top: 19px !important;
  }
}

.mejs-controls .mejs-horizontal-volume-slider {
  .mejs-horizontal-volume-current, .mejs-horizontal-volume-total {
    top: 29px !important;
  }
}

.mejs-container {
  margin: 0 0 30px 0px;
  width: 100% !important;
}

.mejs-controls {
  .mejs-time-rail {
    span {
      height: 1px !important;
      margin: 5px 0 0;
    }
    .mejs-time-current {
      background: #0095c1 !important;
      &:after {
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        width: 29px;
        height: 29px;
        background: #0095c1;
        border-radius: 100%;
        margin: -15px -16px 0 0;
        display: none;
      }
    }
  }
  .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .mejs-time-rail .mejs-time-loaded {
    background: #fff !important;
  }
  .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #0095c1 !important;
  }
}

@media only screen and (max-width: 1300px) {
  .text-holder .img-holder {
    max-width: 34%;
    margin: 5% 0 0;
  }
}

@media only screen and (max-width: 1100px) {
  .stats-box ul li {
    margin: 0;
  }
  .stats-area {
    padding: 50px 0 50px 20px;
  }
  .stats-box strong {
    font-size: 15px;
  }
  .video-holder .btn-play {
    width: 90px;
    height: 90px;
    margin: -45px 0 0 -45px;
    background-size: cover;
  }
}

@media only screen and (max-width: 992px) {
  .frame .link-holder {
    padding: 19px 15px 25px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .email-form:after {
    display: none;
  }
  .stats-box ul li {
    margin: 0 5px 5px;
  }
  .section {
    margin: 0 0 30px;
    .txt {
      width: 60%;
    }
  }
  .mejs-container {
    margin: 0 0 30px;
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    margin: 80px auto 25px;
  }
  .email-form {
    margin: 0 0 50px;
    input {
      &[type="email"] {
        width: 100%;
        font-size: 16px;
        height: 61px;
      }
      &[type="submit"] {
        width: 100%;
        margin: 5px 0 0;
        font-size: 16px;
        height: 61px;
      }
    }
  }
  .text p ~ p {
    font-size: 24px;
    line-height: 30px;
  }
  .align-left, .align-right {
    float: none;
    width: 100%;
    overflow: hidden;
  }
  .video-area {
    padding: 20px 15px;
  }
  .title {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 20px;
  }
  .sub-title {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 20px;
    span {
      display: inline;
    }
  }
  .frame {
    padding: 25px 0 0;
    .desktop {
      display: none;
    }
  }
  .video-holder .btn-play {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
  }
  .text-holder {
    padding: 0 0 30px 15px;
    display: flex;
    flex-direction: column;
  }
  .mob {
    order: 1;
  }
  .text-holder {
    .img-holder {
      max-width: 280px;
      float: none;
      margin: 0 auto 15px;
      width: auto;
      order: 2;
    }
    .text-frame {
      float: none;
      width: 100%;
      overflow: hidden;
      order: 3;
    }
    .ship {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .stats-area {
    padding: 20px 15px;
    .stats-holder {
      margin: 0 0 20px;
    }
    .stats-box {
      float: none;
      width: 100%;
      overflow: hidden;
      padding: 0 0 10px;
      &:first-child {
        border-right: 0;
      }
      + .stats-box {
        padding: 10px 0 0;
        border-left: 0;
        border-top: 1px solid #cecece;
      }
    }
  }
  .section {
    padding-top: 15px;
    .img-holder {
      display: block;
      margin: 0 auto 20px;
    }
    .txt {
      display: block;
      width: 100%;
      text-align: center;
      p, span {
        font-size: 16px;
        line-height: 20px;
      }
    }
    + .section {
      margin-bottom: 30px;
    }
  }
  .text.inner p ~ p br {
    display: none;
  }
}